.home-product__pagination{
    margin: 48px 0 32px 0;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.pagination-item{
    margin: 0 14px;
}

.pagination-item--active.pagination-item__link {
    color: var(--white-color);
    background-color: var(--base-color);
}

.pagination-item--active.pagination-item__link:hover{
    background-color: #ed5c3f;
}

.pagination-item__link{
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    color: #939393;
    min-width: 40px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 2px;
}